.current__events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.past__events {
  text-align: center;
  margin: 5rem 0;
}

.past__events-container {
  display: flex;
  flex-direction: column;
}

.events__title {
  text-align: center;
  font-size: 2.5rem;
}

.events__text {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  margin: 0;
  text-align: center;
  background-color: #fff;

  border-bottom: none;
  border-radius: 100px 100px 0 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.events__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.events__image {
  width: 40%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.events__collage {
  display: flex;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.events__signup-button {
  background-color: #c76413;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 1rem;
  max-width: 600px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #3aa309;
  }
}

.events-nominate-wrapper {
  background-color: #f36303;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 1rem;
  max-width: 900px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #ffee00;
  }
}
.nominate-banner {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .events__image {
    width: 75%;
  }
}
