.navbar__line {
  width: 100%;
  height: 200px;
  background-color: #f1f1f1;
}

.navbar {
  background-image: linear-gradient(
    #f1f1f1,
    rgba(241, 241, 241, 0.9),
    rgba(250, 250, 250, 0.6),
    rgba(250, 250, 250, 0)
  );
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

.organization__logo {
  width: 200px;
  height: auto;
  cursor: pointer;
}

.navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  padding: 0;
  margin: 0px 25px;
  position: relative;
}

.navbar__selections {
  position: relative;
  color: black;
  text-decoration: none;
  width: auto;
  margin: 5px 25px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: var(--quaternary-color);
    color: #fff;
  }
}

.navbar__selections-donate {
  color: #fff;
  border-radius: 10px;
  margin: 5px 25px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  transition: ease-in-out 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--tertiary-color);
  }
}

.navbar__events-dropdown {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 200%;
  top: 110%;
  left: 0%;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.events__dropdown-list {
  padding: 10px;
}
