.footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff;
}

.footer__text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  margin: 1rem;
}

.footer__icon {
  width: 25px;
  margin-right: 5px;
}
