#root {
  padding: 0rem 2rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d1495b;
  --secondary-color: #edae49;
  --tertiary-color: #00798c;
  --quaternary-color: #30638e;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 250px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Main */

.main {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Youtube */

.youtube {
  display: flex;
  flex-wrap: wrap;
}

.youtube__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* Sponsors */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sponsors__title {
  margin: 0;
}

.sponsors__list {
  list-style: none;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;  */
}

/* Board of Directors */

.board__directors {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.board__directors-poster {
  width: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.board__directors-title {
  background-color: #9229f5;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
}

.board__directors-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.board__directors-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.board__names-list {
  background-color: var(--quaternary-color);
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1100px) {
  .board__directors {
    flex-direction: column;
    align-items: center;
  }
  .board__directors-poster {
    width: 100%;
  }
  .board__directors-container {
    align-items: center;
  }
  .board__directors-title {
    text-align: center;
  }
}

/* Events */

/*  Copyright  */
.copyright {
  font-size: 1.5rem;
  color: #555;
}
