.marquee-wrapper {
  width: 100%;
  overflow: hidden; /* Hide anything outside the container */
  /* background-color: #f1f1f1; Set a background color for the container */
  background-color: #333;
  border-radius: 5px;
  padding: 20px 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  margin: 0px 0px 20px 0px;
}

.marquee {
  display: flex;
  animation: marquee linear infinite; /* We'll define the animation duration dynamically */
}

.sponsor-item {
  margin-right: 50px; /* Add spacing between sponsors */
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from right */
  }
  100% {
    transform: translateX(-100%); /* End at the left */
  }
}
